* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.collage-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   max-width: 90%;
   margin: 0 auto;
}

.collage-item {
   position: relative;
   width: 235px;
   height: 235px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #ccc;
   border-radius: 10px;
   transform: rotate(5deg);
   transition: all 0.3s ease;
   overflow: hidden;
   pointer-events: none;
   /* Ensures interaction */
   z-index: 0;
   /* Ensures images are on top */
}

.collage-item:nth-child(odd) {
   transform: rotate(-5deg);
}

.collage-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.description {
   position: absolute;
   bottom: 10px;
   left: 10px;
   background-color: rgba(0, 0, 0, 0.6);
   color: white;
   padding: 5px 10px;
   font-size: 14px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;
   border-radius: 5px;
}

.collage-item:hover .description {
   opacity: 1;
   visibility: visible;
}

.collage-item:hover {
   transform: scale(1.1) rotate(0deg);
}

@media (max-width: 1200px) {
   .section4 .collage-item {
      width: 160px;
      height: 160px;
   }
}

@media (max-width: 868px) {
   .section4 .collage-item {
      width: 120px;
      height: 120px;
   }

   .collage-item:nth-of-type(9) {
      display: none;
   }

   .description {
      font-size: 12px;
   }
}

@media (max-width: 520px) {
   .collage-item {
      width: 120px;
      height: 120px;
   }

   .collage-item:nth-of-type(n+7) {
      display: none;
   }

   .description {
      font-size: 10px;
   }
}
