.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}


useGSAP(()=> {
      gsap.utils.toArray(".section").forEach((section)=> {

            gsap.fromTo(section,
               {
               opacity: 0
            }

            ,
            {

            opacity: 1,
            duration: 1,
            scrollTrigger: {
               trigger: section,
               start: "top 80%",
               toggleActions: "play none none reverse",
            }

            ,
         });
   });

gsap.to(".container", {
   scrollTrigger: {

      trigger: ".container",
      start: "top top",
      end: "bottom bottom",
      scrub: 0.2,
      snap: {
         snapTo: (progress)=> Math.round(progress * (5 - 1)) / (5 - 1),
         duration: 0.3, // Adjust speed of snapping motion
         delay: 0, // Ensures snapping starts immediately
         ease: "power2.out", // More natural easing, responsive but smooth
      }

      ,
   }

   ,
});
}

, []);
